<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Author:</strong>
  <td><%= link_to @book.author.first_name.titleize + ' ' + @book.author.last_name.titleize ,  author_path(@book.author) %></td>
</p>

<% if user_signed_in? && @request.empty? %>
  <strong><%= link_to 'Request Book',  author_book_requests_path(@book.author, @book), method: :post %></strong>
<% end %>

<p>
  <strong>Comments:</strong>
  <td><%= render "comments/index" %></td>
</p>
