<%= div_for request do %>
  <tr class="book-row" data-id="<%= request.id %>">
    <td><%= request.book.title.titleize %></td>
    <td><%= request.id %></td>
    <td><%= request.status %></td>
    <td><%= link_to "cancel", user_request_path(request.user, request), method: :delete, remote: :true %> </td>
    <td> <%= link_to "GET BOOK", author_book_path(request.book.author, request.book, format: :html) %> </td>
    <td> <%= link_to "GET JSON", author_book_path(request.book.author, request.book, format: :json) %> </td>
  </tr>
<% end %>
